<table class="table table-sm table-hover" >
  <tbody>
    <tr><th *ngFor="let cname of colNames">
    {{cname}}</th></tr>
    <tr *ngFor="let customer of allCustomers">
        <td>{{customer?.custId}}</td>
        <td>{{customer?.name}}</td>
        <td>{{customer?.address}}</td>
        <td>{{customer?.mobile}}</td>
        <td>{{customer?.email}}</td>
        <td>
          <button class="btn" (click)="showForEdit(customer)">
            <i class="fa fa-pencil-square-o">Edit</i>
          </button>
          <button class="btn text-danger" (click)="OnDelete(customer.custId)">
            <i class="fa fa-trash-o">Delete</i>
          </button>
        </td>
      </tr>
    </tbody>
</table>
